name: Run and test your Django project

on: [push]

jobs:
  main:
    name: "Tests that the Django application starts up"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - run: pip install django
      - run: python3 manage.py migrate
      - uses: actions/checkout@v3
        name: "Download grader scripts"
        with:
          repository: Utah-CS3550-Fall-2023/autotester
          path: autotester
          ref: main
      - name: Load homework info
        run: python3 autotester/test.py current gh
      - run: python3 autotester/test.py current 1
        if: 1 <= env.HWPARTS
        name: ${{ env.HWPART1 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 2
        if: 2 <= env.HWPARTS
        name: ${{ env.HWPART2 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 3
        if: 3 <= env.HWPARTS
        name: ${{ env.HWPART3 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 4
        if: 4 <= env.HWPARTS
        name: ${{ env.HWPART4 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 5
        if: 5 <= env.HWPARTS
        name: ${{ env.HWPART5 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 6
        if: 6 <= env.HWPARTS
        name: ${{ env.HWPART6 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 7
        if: 7 <= env.HWPARTS
        name: ${{ env.HWPART7 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 8
        if: 8 <= env.HWPARTS
        name: ${{ env.HWPART8 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 9
        if: 9 <= env.HWPARTS
        name: ${{ env.HWPART9 }}
        timeout-minutes: 5
      - run: python3 autotester/test.py current 10
        if: 10 <= env.HWPARTS
        name: ${{ env.HWPART10 }}
        timeout-minutes: 5
    
